@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
.site__header-search form ::-webkit-input-placeholder {
    color: #fff;
    letter-spacing: 1px;
}
.site__header-search form :-moz-placeholder {
    color: #fff;
    letter-spacing: 1px;
}
.site__header-search form .placeholder {
    color: #fff;
    letter-spacing: 1px;
}

/* --------------- /placeholder --------------- */
a{
    text-decoration: none;
}
/* --------------- site --------------- */
.site {
    font-family: 'Ubuntu', 'sans-serif';
    min-height: 100%;
    min-width: 1000px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 127px;
}
.site__content{
    position: relative;
    display: block;
    width: 1005px;
    margin: 0 auto;
    text-align: justify;
    z-index: 2;
}
.site__header {
    position: relative;
    background: #0a5886;
    width: 100%;
    height: 174px;
    z-index: 3;
    margin-bottom: 23px;
}
.site__header-top{
    background: #0a5886 url("../img/header-bg.png") no-repeat;
    background-position: top center;
    position: relative;
    width: 1005px;
    height: 123px;
    margin: 0 auto;
}
.site__header-bottom{
    background: -webkit-linear-gradient(top, #22b14c 0%,#1b8f36 50%);
    background: -o-linear-gradient(top, #22b14c 0%,#1b8f36 50%);
    background: linear-gradient(top, #22b14c 0%,#1b8f36 50%);
    width:100%;
    height: 51px;
}
.site__header-version{
    display: block;
    background: #0b4464;
    position: absolute;
    width: 222px;
    height: 32px;
    bottom: 0;
    right: 0;
    font-size: 14px;
    color:#fff;
    text-transform: uppercase;
    padding: 9px 0 10px 43px;
    transition:background .3s ease;
}
.site__header-version:hover{
    background: #0a5886;
}
.site__header-version:before{
    content: "";
    background: url("../img/version-icon.png") no-repeat;
    background-size: contain;
    position: absolute;
    width: 20px;
    height: 11px;
    top: 10px;
    left: 11px;
}
.site__header-title{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    text-transform: uppercase;
    font-size:15px;
    color: #cbf1fa;
    margin-top: 23px;
    margin-left: 124px;
    letter-spacing: 0.9px;
}
.site__header-title span{
    display: block;
    position: relative;
    font-size:21px;
    color: #fafafa;
    line-height: 28px;
    letter-spacing: 2px;
    padding-top: 5px;
}
.site__header-title span:before{
    position: absolute;
    content: "«";
    left: -12px;
    font-size:21px;
    color: #fafafa;
    line-height: 28px;
}
.site__header-hot_line{
    position: absolute;
    width: 240px;
    top: 8px;
    right: -6px;
    text-align: center;
    font-size: 14px;
    color:#abcde9;
}
.site__header-hot_line span{
    display: block;
    font-size: 12px;
    color:#76aad6;
    padding: 5px 0 3px;
}
.site__header-hot_line a{
    font-size: 21px;
    color:#f8fafb;
    cursor: default;
}
.site__footer {
    background: #134765;
    position: absolute;
    z-index: 2;
    height: 127px;
    left: 0;
    right: 0;
    bottom: 0;
}
.site__footer-layout {
    width: 100%;
    height: 95px;
    background: #072739;
}
.site__footer-wrap{
    position: relative;
    width: 1005px;
    margin: 0 auto;
    padding: 10px 25px;
}
.site__footer-copyright{
    display: inline-block;
    vertical-align: top;
    width: 161px;
    font-size: 12px;
    line-height: 15px;
    color: #fafafa;
}
.site__footer-copyright span:first-child{
    display: block;
    color:#cbf1fa;
}
.site__footer-developer {
    position: absolute;
    top: 106px;
    right: 9px;
    color: #6198b8;
    font-size: 12px;
    text-align: right;
}
.site__footer-developer a{
    color: #6198b8;
    font-size: 12px;
}
.site__footer a {
       text-decoration: underline;
   }
.site__footer a:hover{
    text-decoration: none;
}
.footer__menu {
    display: inline-block;
    vertical-align: top;
    width:630px;
    text-align: justify;
    margin-left: 64px;
    padding-top: 8px;
}
.footer__menu a {
    font-size: 12px;
    color: #fff;
    margin-right: 15px;
}
.footer__menu a:last-child{
    margin-right:0;
}
.site__footer-map{
    position: absolute;
    top: 57px;
    left: 228px;
    font-size: 12px;
    color: #76aad6;
    padding-left: 20px;
}
.site__footer-map:before{
    content: "";
    background: url("../img/icon-map.png") no-repeat;
    background-size:contain;
    position: absolute;
    width: 14px;
    height: 14px;
    left: -3px;
}
.site__content:after{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.site__content-wrap{
    display: inline-block;
    vertical-align: top;
    width: 640px;
    text-align: left;
    background: #f5f4ec;
    padding: 19px 29px 10px 24px;
    margin-bottom: 60px;

}
.site__aside{
    display: inline-block;
    vertical-align: top;
    width: 332px;
}
.site__content-wrap h1{
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 25px;
    margin-bottom: 9px;
    font-weight: 400;
    padding-right: 30px;
    word-spacing: 5px;
}
.site__content-wrap p{
    font-size: 14px;
    word-spacing: -1px;
    line-height: 16px;
    margin-bottom: 27px;
}
.site__content-wrap h2{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 7px;
    font-weight: 400;
}
.site__content-wrap h3{
    color: #2fa536;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 9px;
    font-weight: 100;

}
.site__content-wrap h4{
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 700;
}
.site__content-wrap-table{
    width: 575px;
    border: 1px solid #245098;
    margin-bottom: 16px;
}
.site__content-wrap-table tr th {
    background: #114674;
    padding: 7px 0 9px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}
.site__content-wrap-table tr td {
    text-align: center;
    vertical-align: middle;
    padding: 17px 0 17px;
    color: #114674;
    font-weight: 300;
    font-size: 14px;
    border: 1px solid #245098;
    background: #ffffff;
    font-weight: 700;
}
.site__content-wrap a{
    color: #114674;
    text-decoration: underline;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}
.site__content-wrap a:hover{
    color: #5ca1dc;
}
.site__content-wrap .site__content-wrap-span1{
    color: #114674;
    font-weight: 700;
}
.site__content-wrap .site__content-wrap-span2{
    color: #2fa536;
}
.site__content-wrap ol{
    list-style-type: decimal;
}
.site__content-wrap ul{
    margin-bottom: 24px;
}
.site__content-wrap ul ul{
    margin-top: 9px;
    line-height: 28px;
}
.site__content-wrap>ul>li{
    position: relative;
    padding-left: 23px;
    margin-bottom: 16px;
    font-size: 14px;
}
.site__content-wrap>ul>li:before{
    position: absolute;
    content: '';
    width: 17px;
    height: 12px;
    background: url("../img/cheack.png");
    left: 0;
    top: 2px;
    background-repeat: no-repeat;
}
.site__content-wrap ul ul li:before{
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    left: 2px;
    top: 12px;
    background-color: #2fa536;
    border-radius: 11px;
}
.site__content-wrap>ul>li li{
    position: relative;
    padding-left: 16px;
}
.site__content-wrap ol{
    position: relative;
    counter-reset: li;
    list-style: none;
    margin-bottom: 25px;
    font-size: 14px;
    margin-top: -4px;
}
.site__content-wrap ol>li{
    position: relative;
    padding-left: 14px;
    line-height: 25px;
    margin-top: 2px;
}
.site__content-wrap  .list-strong li .callback{
    margin-left: -13px;
}
.site__content-wrap ol>li li{
    line-height: 17px;
    padding-left: 39px;
    margin-bottom: 12px;
}
.site__content-wrap ol>li ol{
    margin-top: 8px;
    margin-bottom: 13px;
}
.site__content-wrap ol li:before{
    counter-increment: li;
    content: counters(li,".") ")";
    position: absolute;
    left: -5px;
    top: 2px;
    padding: 0 6px;
    color: #2fa536;
    text-align: center;
    line-height: 20px;
    font-weight: 700;
    font-size: 14px;
}
.site__content-wrap ol li li:before{
    margin-right: 7px;
    top: -2px;
    left: 2px;
}
.site__content ol>li {
    position: relative;
    padding-left: 27px;
    line-height: 25px;
    margin-bottom: 5px;
}
/* --------------- /site --------------- */

/* ------------- breadcrumps ------------- */
.breadcrumps {
    padding: 27px 2px 22px;
    font-size: 14px;
    color: #385194;
    width: 640px;
}
.breadcrumps a{
    position: relative;
    margin-right: 17px;
    color: #333;
    text-decoration: underline;
}
.breadcrumps a:hover{
    text-decoration: none;
}
.breadcrumps a:after{
    content: '>';
    position: absolute;
    left: 100%;
    top: 2px;
    margin-left: 4px;
}
.breadcrumps span{
    color: #000;
}
/* ------------- /breadcrumps ------------- */

/* --------------- header__menu--------------- */
.header__menu{
    position: relative;
    width: 1005px;
    margin: 0 auto;
    font-size: 16px;
}
.header__menu>ul{
    display: table;
    width: 100%;
    margin: 0 auto;
    height: 51px;
}
.header__menu>ul>li{
    display: table-cell;
    position: relative;
}
.header__menu>ul>li:after{
    content: "";
    background: url("../img/menu-line.png") no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 41px;
}
.header__menu>ul>li:first-child:before{
    content: "";
    background: url("../img/menu-line.png") no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    width: 1px;
    height: 41px;
}
.header__menu>ul li a{
    display: block;
    text-align: center;
    padding: 17px 0;
    height: 51px;
    color: #ffffff;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}
.header__menu>ul>li>a{
    text-decoration: underline;
}
.header__menu > ul > li:hover > a.active,
.header__menu > ul > li:hover > a {
    background: -webkit-linear-gradient(top, #2eb84c 0%,#32c852 50%);
    background: -o-linear-gradient(top, #2eb84c 0%,#32c852 50%);
    background: linear-gradient(top, #2eb84c 0%,#32c852 50%);
    text-decoration: none;
}
.header__menu > ul > li > a.active{
    background: #33ca53;
}
.header__menu>ul li ul{
    position: absolute;
    background: #33ca53 url("../img/menu-top.png")no-repeat;
    background-size: 167px 8px;
    background-position: -1px 0;
    top: 51px;
    padding-top: 11px;
    padding-bottom: 3px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease;
}
.header__menu>ul li ul li a:hover{
    background: #33ca53;
}
.header__menu>ul li ul li{
    display: block;
    padding-bottom: 8px;
    margin-bottom: 8px;
    padding-left: 17px;
    border-bottom: 1px solid #2aa845;
}
.header__menu>ul li ul li:last-child{
    border-bottom:none;
    padding-bottom: 0;
}
.header__menu > ul > li:hover ul{
    opacity: 1;
    visibility: visible;
    width: 163px;
    border-radius: 4px;
}
.header__menu>ul li ul li a{
    text-align: left;
    height: 30px;
    padding: 6px 6px;
}
.header__menu>ul li ul li a:hover{
    text-decoration: underline;
}
/* --------------- /header__menu --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 9px;
    left: 0;
}
/* --------------- /logo --------------- */

/* --------------- /social --------------- */
.social{
    position: absolute;
    top: 12px;
    right: 0;
}
.social-v,
.social-f,
.social-you{
    display: inline-block;
    vertical-align: top;
    width: 33px;
    height: 33px;
    border-radius: 3px;
    margin-right: 3px;
    transition: opacity .3s ease;
}
.social a:hover{
    opacity: 0.7;
}
.social-f{
    background: #0079c1 url("../img/social02.png") no-repeat;
    background-position: center center;
}
.social-v{
    background: #2e6ae3 url("../img/social01.png") no-repeat;
    background-position: center center;
}
.social-you{
    background: #e93e30 url("../img/social03.png") no-repeat;
    background-position: center center;
}
/* --------------- /social --------------- */

/* --------------- /slider --------------- */
.slider {
    background: #fff;
    margin: -18px -22px 0 -24px;
    padding-bottom: 13px;
}
.slider .slider__layout {
    position: relative;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 305px;
}
.slider .slider__icon {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    bottom: 26px;
    text-align: center;
}
.slider .swiper-pagination-clickable span {
    display: inline-block;
    vertical-align: middle;
    content: '';
    background: #fff;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: 5px;
    opacity: 1;
    transition: background .3s ease, border .3s ease;

}
.slider .swiper-pagination-clickable span:hover {
    background: -webkit-linear-gradient(top, #22b14c 0%,#1b8f36 50%);
    background: -o-linear-gradient(top, #22b14c 0%,#1b8f36 50%);
    background: linear-gradient(top, #22b14c 0%,#1b8f36 50%);
}
.slider .swiper-pagination-bullet-active {
    opacity: 1;
    background: -webkit-linear-gradient(top, #22b14c 0%,#1b8f36 50%)!important;
    background: -o-linear-gradient(top, #22b14c 0%,#1b8f36 50%)!important;
    background: linear-gradient(top, #22b14c 0%,#1b8f36 50%)!important;
}
/* --------------- /slider --------------- */

/* ------------- news ------------- */
.news-list{
    background: #f7f6f0;
    padding-top: 10px;
}
.news-list li{
    margin-bottom: 11px;
    padding: 9px 0 0;
    overflow: hidden;
}
.news-list__img{
    float: left;
    width: 220px;
    height: 144px;
    margin-top: 5px;
    margin-right: 14px;
    background-position: center;
    background-size: cover;
}
.news-list__content{
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
}
.news-list__content time{
    font-size: 12px;
    color:#6ab3d6;
}
.news-list__content p{
    margin: 0;
    line-height: 17px;
}
.site__content-wrap .news-list__title,
.site__content-wrap .news-list__title > a{
    margin: 0;
    padding: 0 0 2px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #000;
    text-decoration: underline;
}
a.news-list__name{
    font-size: 20px;
    color: #000;
    font-weight: 500;
    text-decoration: underline;
}
.news-list__title:hover,
.news-list__title > a:hover{
     text-decoration: none;
 }
/* ------------- /news ------------- */

/* ------------- something ------------- */
.something{
    position: absolute;
    top: -44px;
    left: 2px;
}
.something a{
    display: inline-block;
    vertical-align: top;
    background: #0a5886;
    width: 184px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px 4px 0 0;
    padding: 15px 17px;
    margin-left: 40px;
    transition: opacity .3s ease;
}
.something a:hover{
    opacity: 0.7;
}
.something a:nth-child(2){
    width: 211px;
    margin-left: 19px;
}
.something a:nth-child(3){
    width: 190px;
    margin-left: 19px;
}
.something a:first-child{
    margin-left: 0;
}
/* ------------- /something ------------- */

/* ------------- useful-links ------------- */
.useful-links {
    position: relative;
    margin: 0 auto 26px;
    background: #e9f2f7;
    border-radius: 5px;
    padding: 10px 30px;
    text-align: center;
}
.useful-links__item {
    display: inline-block;
    vertical-align: top;
    transition: opacity .3s ease;
}
.useful-links__item:hover{
    opacity: 0.7;
}
.useful-links__item a {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 85px;
    background-position: center;
    background-repeat: no-repeat;
}
.useful-links__next,
.useful-links__prev{
    position: absolute;
    width: 10px;
    height: 16px;
    top: 50%;
    left: 16px;
    margin-top: 8px;
    background: url("../img/slider-prev.png") no-repeat center;
}
.useful-links__next{
    background: url("../img/slider-next.png") no-repeat center;
    left: auto;
    right: 16px;
}
.useful-links__title{
    display: block;
    font-size: 20px;
    padding-bottom: 12px;
}
/* ------------- /useful-links ------------- */

/* ------------- information ------------- */
.information{
    background: #d9d9d9;
    padding: 8px 0 18px 9px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 21px;
}
.information a{
    position: relative;
    display: block;
    width: 337px;
    height: 70px;
    font-size: 14px;
    border-right:1px solid #f5f5f4;
    border-radius: 5px 0 0 5px;
    padding: 9px 32px;
    margin-bottom: 14px;
    transition: opacity .3s ease;
}
.information a:hover{
    opacity: 0.7;
}
.information a:last-child{
    margin-bottom:0;
}
.information a span{
    display: block;
    font-size: 14px;
    color: #fff;
    line-height: 17px;
}
.information-title{
    font-weight: 700;
    text-transform: uppercase;
}
a.information-address{
    background: #008ae1;
}
a.information-home{
    background: #fff;
    color:#000;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 28px;
}
a.information-implementation{
    background: #22b14c;
}
a.information-address:after,
a.information-home:after,
a.information-implementation:after{
    position: absolute;
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: rgba(163, 163, 163, 0);
    border-top-color: #bababa;
    border-width: 10px 10px 0 0;
    right: 4px;
}
a.information-address:after{
    border-top-color: #0065a5;
}
a.information-implementation:after{
    border-top-color: #0c8430;
}
/* ------------- /information ------------- */
.user,
.add-user{
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 12px;
    color: #0a5886;
    padding-left: 21px;
    margin-right: 20px;
    text-decoration: underline;
    margin-bottom: 16px;
}
.user:hover,
.add-user:hover{
    text-decoration: none;
}
.user:before,
.add-user:before{
    content: "";
    position: absolute;
    left: -3px;
    background: url("../img/add-user.png") no-repeat center;
    background-size: contain;
    width: 17px;
    height: 14px;
}
.user:before{
    background: url("../img/user.png") no-repeat center;
    background-size: contain;
    width: 14px;
}
/* --------------- search --------------- */
.site__header-search {
    position: relative;
    font-size: 14px;
    color: #fff;
    vertical-align: top;
    margin-bottom: 21px;
}
.site__header-search form {
    position: relative;
    top: 2px;
    width: 100%;
    height: 27px;
}
.site__header-search form .search-field {
    border: none;
    border-radius: 2px;
    background: #b7c2cc;
}
.site__header-search form .search-btn {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 6px;
    right: -15px;
    border: none;
    background: url("../img/icon-search-white.png") no-repeat top;
    background-size: contain;
    opacity: 1;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}
.site__header-search form input {
    width: 100%;
    height: 27px;
    color: #fff;
    padding-left: 39px;
    padding-right: 25px;
}
/* --------------- /search --------------- */

/* --------------- gallery --------------- */
.gallery{
    width: 100%;
    height: 234px;
    background: #000;
    margin-bottom: 23px;
}
/* --------------- /gallery--------------- */

/* --------------- form-frame --------------- */
.form-frame dd,
.form-frame dt{
    height: 28px;
    margin-bottom: 11px;
    padding-top: 5px;
    display: inline-block;
    vertical-align: top;
}
.form-frame dt{
    width: 283px;
    padding-right: 11px;
    font-size: 14px;
    text-align: right;
}
.form-frame input{
    width: 300px;
    height: 28px;
    border: 1px solid #d8d8d8;
}
.form-frame__zip input{
    width: 120px;
}
.form-frame__place input{
    width: 73px;
}
.form-frame input[type=file]{
    border: none;
}
.form-frame__required{
    color: #e30337;
}
.form-frame__note{
    display: block;
    font-size: 12px;
    color: #8f8f8f;
}
/* --------------- form-frame --------------- */