@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #fff;
}
:-moz-placeholder {
    color: #fff;
}
.placeholder {
    color: #fff;
}
/* --------------- /placeholder --------------- */

/* --------------- site --------------- */
.site {
    font-family: 'Ubuntu', 'sans-serif';
    min-height: 100%;
    min-width: 1000px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 127px;
}
.site a{
    text-decoration: none;
}
.site__content{
    position: relative;
    display: block;
    width: 1026px;
    margin: 0 auto;
    text-align: justify;
    z-index: 2;
    margin-bottom: -16px;
}
.site__header {
    position: relative;
    background: #0a5886;
    width: 100%;
    height: 174px;
    z-index: 3;
    margin-bottom: 23px;
}
.site__header-top{
    background: #0a5886 url("../img/header-bg.png") no-repeat;
    background-position: top center;
    position: relative;
    width: 1005px;
    height: 123px;
    margin: 0 auto;
}
.site__header-bottom{
    background: -webkit-linear-gradient(top, #22b14c 0%,#1b8f36 50%);
    background: -o-linear-gradient(top, #22b14c 0%,#1b8f36 50%);
    background: linear-gradient(top, #22b14c 0%,#1b8f36 50%);
    width:100%;
    height: 51px;
}
.site__header-version{
    display: block;
    background: #0b4464;
    position: absolute;
    width: 222px;
    height: 32px;
    bottom: 0;
    right: 0;
    font-size: 14px;
    color:#fff;
    text-transform: uppercase;
    padding: 9px 0 10px 54px;
    transition:background .3s ease;
}
.site__header-version:hover{
    background: #0a5886;
}
.site__header-version:before{
    content: "";
    background: url("../img/version-icon.png") no-repeat;
    background-size: contain;
    position: absolute;
    width: 20px;
    height: 11px;
    top: 10px;
    left: 20px;
}
.site__header-title{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    text-transform: uppercase;
    font-size:15px;
    color: #cbf1fa;
    margin-left: 114px;
    margin-top: 24px;
}
.site__header-title span{
    display: block;
    font-size:21px;
    color: #fafafa;
    line-height: 25px;
    padding-top: 10px;
}
.site__header-hot_line{
    position: absolute;
    width: 240px;
    top: 10px;
    right: -5px;
    text-align: center;
    font-size: 14px;
    color:#abcde9;
}
.site__header-hot_line span{
    display: block;
    font-size: 12px;
    color:#76aad6;
    padding: 5px 0 3px;
}
.site__header-hot_line a{
    font-size: 21px;
    color:#f8fafb;
}
.site__footer {
    background: #134765;
    position: absolute;
    z-index: 2;
    height: 127px;
    left: 0;
    right: 0;
    bottom: 0;
}
.site__footer-layout {
    width: 100%;
    height: 95px;
    background: #072739;
}
.site__footer-wrap{
    position: relative;
    width: 1005px;
    margin: 0 auto;
    padding: 10px 20px;
}
.site__footer-copyright{
    display: inline-block;
    vertical-align: top;
    width: 161px;
    font-size: 12px;
    line-height: 15px;
    color: #fafafa;
}

.site__footer-copyright span:first-child{
    display: block;
    color:#cbf1fa;
}
.site__footer-developer {
    position: absolute;
    top: 106px;
    right: 9px;
    color: #6198b8;
    font-size: 12px;
    text-align: right;
}
.site__footer-developer a{
    color: #6198b8;
    font-size: 12px;
}
.site__footer a {
       text-decoration: underline;
   }
.site__footer a:hover{
    text-decoration: none;
}
.footer__menu {
    display: inline-block;
    vertical-align: top;
    width:630px;
    text-align: justify;
    margin-left: 64px;
    padding-top: 8px;
}
.footer__menu a {
    font-size: 12px;
    color: #fff;
    margin-right: 15px;
}
.footer__menu a:last-child{
    margin-right:0;
}
.site__footer-map{
    position: absolute;
    top: 57px;
    left: 228px;
    font-size: 12px;
    color: #76aad6;
    padding-left: 20px;
}
.site__footer-map:before{
    content: "";
    background: url("../img/icon-map.png") no-repeat;
    background-size:contain;
    position: absolute;
    width: 14px;
    height: 14px;
    left: -3px;
}
.site__content:after{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.site__content-center{
    display: inline-block;
    vertical-align: top;
    width: 640px;
    padding: 19px 29px 19px 24px;
    background: #f5f4ec;
    text-align: left;
}
.site__aside{
    display: inline-block;
    vertical-align: top;
    width: 343px;
}
.site__content-center h1{
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 25px;
    margin-bottom: 9px;
}
.site__content-center p{
    font-size: 14px;
    word-spacing: -1px;
    line-height: 16px;
    margin-bottom: 30px;
}
.site__content-center h2{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 7px;
}
.site__content-center h3{
    color: #2fa536;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 9px;

}
.site__content-center h4{
    font-size: 14px;
    margin-bottom: 10px;
}
.site__content-center-table{
    width: 575px;
    border: 1px solid #245098;
    margin-bottom: 16px;
}
.site__content-center-table tr th {
    background: #114674;
    padding: 7px 0 9px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.site__content-center-table tr td {
    text-align: center;
    vertical-align: middle;
    padding: 17px 0 17px;
    color: #2b2b2b;
    font-weight: 300;
    font-size: 14px;
    border: 1px solid #245098;
    background: #ffffff;
}
.site__content-center a{
    color: #114674;
    text-decoration: underline;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}
.site__content-center a:hover{
    color: #5ca1dc;
}
.site__content-center .site__content-center-span1{
    color: #114674;
    font-weight: 700;
}
.site__content-center .site__content-center-span2{
    color: #2fa536;
}
/* --------------- /site --------------- */

/* --------------- header__menu--------------- */
.header__menu{
    position: relative;
    width: 1005px;
    margin: 0 auto;
    font-size: 16px;
}
.header__menu>ul{
    display: table;
    width: 100%;
    margin: 0 auto;
    height: 51px;
}
.header__menu>ul>li{
    display: table-cell;
    position: relative;
}
.header__menu>ul>li:after{
    content: "";
    background: url("../img/menu-line.png") no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 41px;
}
.header__menu>ul>li:first-child:before{
    content: "";
    background: url("../img/menu-line.png") no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    width: 1px;
    height: 41px;
}
.header__menu>ul li a{
    display: block;
    text-align: center;
    padding: 17px 0;
    height: 51px;
    color: #ffffff;

    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}
.header__menu>ul>li>a{
    text-decoration: underline;
}
.header__menu > ul > li:hover > a.active,
.header__menu > ul > li:hover > a {
    background: -webkit-linear-gradient(top, #2eb84c 0%,#32c852 50%);
    background: -o-linear-gradient(top, #2eb84c 0%,#32c852 50%);
    background: linear-gradient(top, #2eb84c 0%,#32c852 50%);
    text-decoration: none;
}
.header__menu > ul > li > a.active{
    background: #33ca53;
}
.header__menu>ul li ul{
    position: absolute;
    background: #33ca53;
    top: 51px;
    padding-top: 7px;
    padding-bottom: 3px;
    opacity: 0;
    visibility: hidden;
}
.header__menu>ul li ul li a:hover{
    background: #33ca53;
}
.header__menu>ul li ul li{
    display: block;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #2aa845;
}
.header__menu>ul li ul li:last-child{
    border-bottom:none;
    padding-bottom: 0;
}
.header__menu > ul > li:hover ul{
    opacity: 1;
    visibility: visible;
    width: 151px;
    border-radius: 4px;
}
.header__menu>ul li ul li a{
    text-align: left;
    height: 30px;
    padding: 7px 14px;
}
/* --------------- /header__menu --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 13px;
    left: 0;
}
/* --------------- /logo --------------- */

/* --------------- /social --------------- */
.social{
    position: absolute;
    top: 12px;
    right: 0;
}
.social-v,
.social-f,
.social-you{
    display: inline-block;
    vertical-align: top;
    width: 33px;
    height: 33px;
    border-radius: 3px;
    margin-right: 3px;
    transition: opacity .3s ease;
}
.social a:hover{
    opacity: 0.7;
}
.social-f{
    background: #0079c1 url("../img/social02.png") no-repeat;
    background-position: center center;
}
.social-v{
    background: #2e6ae3 url("../img/social01.png") no-repeat;
    background-position: center center;
}
.social-you{
    background: #e93e30 url("../img/social03.png") no-repeat;
    background-position: center center;
}
/* --------------- /social --------------- */

/* --------------- /slider --------------- */
.slider {
    position: relative;
    margin: 0 auto 26px;
    overflow: hidden;
}
.slider .slider__layout {
    position: relative;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 307px;
    margin: 0 auto;
}
.slider .slider__icon {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
    bottom: 29px;
    text-align: center;
}
.slider .swiper-pagination-clickable span {
    display: inline-block;
    vertical-align: middle;
    content: '';
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
    opacity: 1;
    transition: background .3s ease, border .3s ease;

}
.slider .swiper-pagination-clickable span:hover {
    background: -webkit-linear-gradient(top, #22b14c 0%,#1b8f36 50%);
    background: -o-linear-gradient(top, #22b14c 0%,#1b8f36 50%);
    background: linear-gradient(top, #22b14c 0%,#1b8f36 50%);
}
.slider .swiper-pagination-bullet-active {
    opacity: 1;
    background: -webkit-linear-gradient(top, #22b14c 0%,#1b8f36 50%)!important;
    background: -o-linear-gradient(top, #22b14c 0%,#1b8f36 50%)!important;
    background: linear-gradient(top, #22b14c 0%,#1b8f36 50%)!important;
}
/* --------------- /slider --------------- */

/* ------------- news ------------- */
.news-list{
    background: #f7f6f0;
    padding-top: 30px;
    margin-bottom:32px;
}
.news-list li{
    margin-bottom: 11px;
    padding: 9px 12px 14px;
    overflow: hidden;
}
.news-list__img{
    float: left;
    width: 221px;
    height: 146px;
    margin-top: 5px;
    margin-right: 21px;
    background-position: center;
    background-size: cover;
}
.news-list__content{
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
}
.news-list__content time{
    font-size: 12px;
    color:#6ab3d6;
}
.news-list__content p{
    margin: 0;
    line-height: 18px;
}
.news-list__title,
.news-list__title > a{
    margin: 0;
    padding: 11px 0 3px;
    font-size: 14px;
    color: #000;
    text-decoration: underline;
}
.news-list__name{
    font-size: 20px;
    color: #000;
    text-decoration: underline;
    padding-left: 14px;
}
/* ------------- /news ------------- */

/* ------------- something ------------- */
.something{
}
.something a{
    display: inline-block;
    vertical-align: top;
    background: #0a5886;
    width: 184px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px 4px 0 0;
    padding: 10px 17px;
    margin-left: 40px;
}
.something a:first-child{
    margin-left: 0;
}
/* ------------- /something ------------- */

/* ------------- useful-links ------------- */
.useful-links {
    position: relative;
    margin: 0 auto 26px;
    background: #e9f2f7;
    border-radius: 5px;
    padding: 10px 30px;
    text-align: center;
}
.useful-links__item {
    display: inline-block;
    vertical-align: top;
    transition: opacity .3s ease;
}
.useful-links__item:hover{
    opacity: 0.7;
}
.useful-links__item a {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 85px;
    background-position: center;
    background-repeat: no-repeat;
}
.useful-links__next,
.useful-links__prev{
    position: absolute;
    width: 10px;
    height: 16px;
    top: 50%;
    left: 10px;
    margin-top: -8px;
    background: url("../img/slider-prev.png") no-repeat center;
}
.useful-links__next{
    background: url("../img/slider-next.png") no-repeat center;
    left: auto;
    right: 10px;
}
.useful-links__title{
    display: block;
    font-size: 20px;
    padding-bottom: 10px;
}
/* ------------- /useful-links ------------- */

/* ------------- information ------------- */
.information{
    background: #d9d9d9;
    padding: 5px 0 18px 9px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}
.information a{
    position: relative;
    display: block;
    width: 342px;
    height: 70px;
    font-size: 14px;
    border-right:1px solid #f5f5f4;
    border-radius: 5px 0 0 5px;
    padding: 9px 32px;
    margin-bottom: 15px;
    transition: opacity .3s ease;
}
.information a:hover{
    opacity: 0.7;
}
.information a:last-child{
    margin-bottom:0;
}
.information a span{
    display: block;
    font-size: 14px;
    color: #fff;
    line-height: 17px;
}
.information-title{
    font-weight: 700;
    text-transform: uppercase;
}
a.information-address{
    background: #008ae1;
}
a.information-home{
    background: #fff;
    color:#000;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 28px;
}
a.information-implementation{
    background: #22b14c;
}
a.information-address:after,
a.information-home:after,
a.information-implementation:after{
    position: absolute;
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: rgba(163, 163, 163, 0);
    border-top-color: #bababa;
    border-width: 7px 7px 0 0;
    right: 0;
}
a.information-address:after{
    border-top-color: #0065a5;
}
a.information-implementation:after{
    border-top-color: #0c8430;
}
/* ------------- /information ------------- */
.user,
.add-user{
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 12px;
    color: #0a5886;
    padding-left: 23px;
    margin-right: 20px;
    text-decoration: underline;
    margin-bottom: 16px;
}
.user:hover,
.add-user:hover{
    text-decoration: none;
}
.user:before,
.add-user:before{
    content: "";
    position: absolute;
    left: 0;
    background: url("../img/add-user.png") no-repeat center;
    background-size: contain;
    width: 17px;
    height: 14px;
}
.user:before{
    background: url("../img/user.png") no-repeat center;
    background-size: contain;
    width: 14px;
}
/* --------------- search --------------- */
.site__header-search {
    position: relative;
    display: block;
    margin-left: 80px;
    font-size: 14px;
    color: #212121;
    vertical-align: top;
    padding-top: 2px;
}
.site__header-search form {
    position: relative;
    top: 2px;
    width: 230px;
    height: 25px;
}
.site__header-search form .search-field {
    border: none;
    box-shadow: 0 0 5px inset;
}
.site__header-search form .search-btn {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 6px;
    right: -9px;
    border: none;
    background: url("../img/icon-search-white.png") no-repeat top;
    background-size: 15px;
    background-position: 3px 5px;
    opacity: 1;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}

/* --------------- /search --------------- */